* {
    box-sizing: border-box;
}

html, body, main  {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, monospace;
}

.hidden {
    display: none;
}


.container {
    width: 100%;
    height: 100%;
    background-color: #ffdc74;
    /* border: 2px solid rebeccapurple; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.toppane {
    background-color: magenta;
    width: 100%;
    min-height: 65vh;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
}

.bottompane {
    width: 100%;
    padding: 0.25em;
    background-color: #ff9100;
    /* min-height: 35vh;*/
    max-height: 30vh; 
    flex: 1;
}

.leftpane {
    flex: 7;
    background-color: yellow;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.leftpane .video {
    width: 100%;
    background-color: black;
    flex: 1;
    position: relative;
}

.leftpane .video video {
    position: absolute;
    width: 100%;
    height: 100%;
}

.leftpane .controls {
    width: 100%;
    min-height: 3em;
    background: indianred;
}

.rightpane {
    flex: 3;
    background-color: #f4f4f4;
    position: relative;
}

.middlepane {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    max-height: 5vh;
    flex-wrap: nowrap;
}


.middlepane span {
    vertical-align: middle;
    flex: 1;
    white-space: nowrap;
}

.middlepane .title {
    font-size: 20px;
    font-weight: bolder;
}

.middlepane .instructions {
    text-align: right;
    font-size: small;
}

.transcriptcontainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.transcript {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 0.5em;
}

.transcriptcue {
    cursor: pointer;
    margin-bottom: 6px;
}

.transcriptcue.current {
    color: #f4f4f4;
    background-color: black;
    /*
    animation-name: currenthighlight;
    animation-duration: 2s;
    */
}

@keyframes currenthighlight {
    from { color: black}
    to { color: white;}
}

.timelines {
    width: 95%;
    height: 1.1em;
    margin: auto;
    padding: 0;
    background-color: white;
    position: relative;
}

.timelines .timelinecue {
    display: inline-block;
    background-color: orangered;
    cursor: pointer;
}

.wordstimeline {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: auto;
    background-color: #ff9100 ;
    color: black;
}

.wordstimeline .headercontainer {
    padding: 5px 5px 0px 5px;

}
.wordstimeline .bodycontainer {
    padding: 0 5px;
    height: 100%;
    overflow-y: scroll;
    flex: 1;
}
.wordstimeline .header {
    display: table;
    width: 100%;
}
.wordstimeline .timelineword {
    width: 280px;
}
.wordstimeline .body {
    display: table;
    width: 100%;
    border-spacing: 0 2px;
}

.wordstimeline .row {
    display: table-row;
}

.wordstimeline .col {
    display: table-cell;
}

.wordstimeline .col-1 {
    /*min-width: 3em;*/
    width: 10em;
    max-width: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
}

.wordstimeline .col-2 {
    width: 1.5em;
    max-width: 1.5em;
    text-align: center;
}

.wordstimeline .col-3 {
    position: relative;
}

.wordstimeline .header .starttime {
    float: left;
    margin-top: 0.25em;
}

.wordstimeline .header .endtime {
    float: right;
    margin-top: 0.25em;
}

.wordstimeline .body .col-3 {
    background-color: #f4f4f4;
}

.wordstimeline .deleteword {
    cursor: pointer;
    vertical-align: middle;
    width: 1.1em;
}

.wordstimeline .timelinecue {
    display: inline-block;
    background-color: black;
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 100%;
}